* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
}

header {
    display: flex;
    align-items: center;
    gap: 32px;
    /* background-color: bisque; */
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

a:hover {
    color: #b2b2b2;
}

.row {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    flex: 1;
}

.logo img {
    width: 100px;
    margin: 16px 0 16px 0;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    width: 400px;
    margin-top: 128px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* background-color: rgb(40, 58, 52); */
    margin-bottom: 128px;
}

.hero img {
    width: 38%;
}

.hero button {
    background-color: #3882F6;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 16px 8px 16px;
    border-radius: 10px;
    display: inline-block;
    border: none;
    margin-top: 8px;
}

.hero button:hover {
    background-color: #2657a7;
    cursor: pointer;
}

.second-section {
    background-color: #F9FAF8;
}

.second-section p {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px;
}

.second-section img {
    width: 200px;
    border-radius: 10px;
}

.set-of-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.set-of-images .item {
    width: 200px;
}

.set-of-images p {
    padding: 0;
    margin-bottom: 64px;
    font-size: 18px;
    font-weight: 300;
    color: #3f465d;
}